<!--snowf-layout-main-->
<!--snowf-body-->
<div class="uk-width-1-1 uk-flex uk-flex-middle index" id="myApp">
    <div class="uk-container uk-text-center">
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">LOGIN</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <form>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary">Sign In</button>
                        <button class="uk-button uk-button-default">Sign On</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>